.hero{

    min-height:100svh;

    display:flex;

    align-items:center;

    justify-content:center;

    padding:clamp(1.5rem,4vw,4rem);

    position:relative;

    z-index:5;

}

.hero__content{

    width:min(100%,900px);

    text-align:center;

    margin:auto;

    animation:

        heroAppear

        900ms

        ease-out;

}

.hero__tag{

    color:var(--secondary);

    text-transform:uppercase;

    letter-spacing:.25rem;

    font-size:clamp(.65rem,.9vw,.9rem);

    margin-bottom:2rem;

}

.hero h1{

    font-size:clamp(4rem,18vw,8rem);

    line-height:.88;

    letter-spacing:-0.08em;

    margin-bottom:1.5rem;

}

.hero__description{

    width:min(100%,650px);

    margin-inline:auto;

    font-size:clamp(1rem,2.8vw,1.35rem);

    line-height:1.8;

    color:var(--secondary);

}


@keyframes heroAppear{

    from{

        opacity:0;

        transform:

            translateY(40px);

    }

    to{

        opacity:1;

        transform:

            translateY(0);

    }

}
