.noise{

    position:fixed;

    inset:0;

    pointer-events:none;

    z-index:-1;

    opacity:.025;

    background-image:
        radial-gradient(circle, white 1px, transparent 1px);

    background-size:6px 6px;

}
