.cursor{

    position:fixed;

    inset:0;

    pointer-events:none;

    z-index:-1;

    background:

        radial-gradient(

            350px circle

            at

            var(--cursor-x)

            var(--cursor-y),

            rgba(102,227,255,.10),

            transparent 70%

        );

}
