.button{

    margin-top:3rem;

    padding:

        1rem

        2.5rem;

    border-radius:999px;

    border:1px solid var(--border);

    background:transparent;

    color:var(--text);

    cursor:pointer;

    transition:

        var(--transition);

}

.button:hover{

    border-color:var(--accent);

    transform:

        translateY(-3px);

    box-shadow:

        0 0 25px

        rgba(102,227,255,.2);

}

.button--ghost{

    background:none;

}